{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions légales</h1>
<p class="mentions">
Dénomination sociale:
Chak Crampon SAS, Siren: 882 679 529

Adresse:
140 Rue République, Montgeron 91230

Contact:
chakcrampon@gmail.com

Capital social:
1000€

Directerice de Publication:
Valle Géraldine

Le site chakcrampon.com est hébergé par la société HOSTINGER, dont le siège social est situé HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre, joignable par le moyen suivant :https://www.hostinger.fr/contact.
</p>
{% endblock %}