{% extends 'base.html.twig' %}

{% block title %}Réinitialiser{% endblock %}


{% block body %}
    <h1> Réinitialiser votre mot de passe</h1>
    <div class="mpCenter">
    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword)}}
        <button style="width:100px;margin-top:50px" class="blackButton">Réinitialiser</button>
    {{ form_end(resetForm) }}
    </div>
        <figure class="decoMP">
         <img src="{{asset('assets/img/cramponchak3.png')}}">
</figure>
{% endblock %}


