{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %} On Parle De Nous{% endblock %}

{% block body %}

    <h1>Un peu de lecture</h1>
	<h3 class="commentaire" >Commentaires</h3>
{% for commentaire in commentaires %}
<div class="container bootstrap snippets bootdey">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-comment">
				<hr class="hr"/>
				<ul class="comments">
                    <hr/>
					<li class="clearfix">
                        <img  style="width:8%"src={{asset("assets/img/avatarProfilR.png")}} class="avatar" alt="avatar">
                        <p class="meta">{{commentaire.dateCommentaire | date("d/m/y")}}</p>
                        <h6 class="pseudo">{{commentaire.pseudo | upper}}</h6>
						<div class="post-comments">
                                    <p>A publié:</p>
						        	<p>{{commentaire.contenu}}</p>
						 </div>
					</li>
	            </ul>
            </div>
        </div>
    </div>
</div>




{% endfor %}




{% endblock %}
