
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /*HEADER*/
/*BARRE NAV*/
.crampon1{
display: block;

}
.crampon2{
display: none;
}

.nbrQuantite{
    width:20px;
    height:20px;
    color:#9285c4;
    margin-left:7px;
    display:block;
    position:absolute;
    top:-13px;
}

#panier{
    position:relative;
}

#navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

#navigation > figure {
     padding-left: 10px;
        
}


#navigation>ul li {
    margin-left: 20px;
    }
#navigation ul li a{
     text-decoration: none;
     color:#9A90C2;
    font-family: 'Bebas Neue', cursive;

}

.top_header{
width: 100%;
background-color:white;
}
.navi{
    display: flex;
    flex-direction:row;
    
}
li{
 list-style: none;
}
/* MENU DROPDOWN */

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 0px 16px 7px;
font-family: inherit;
margin: 0;
}

.navi a:hover{
background-color:#9EC49F ;
}
.none a:hover{
    background-color: white;

}
.none a i:hover{
 color:#9EC49F;
}

#panier  a:hover{
    background-color: white;
    color: #9EC49F;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 180px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: #9A90C2;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
font-size: 16px;  
font-family: 'Bebas Neue', cursive;
}

.dropdown-content a:hover {
background-color: pink;
color:black;
}

.dropdown:hover .dropdown-content {
display: block;
}

/*BODY*/
body{
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
     font-family: 'Alfa Slab One', cursive;
     margin-bottom: 0.5em;
 }
main{
    min-height: 650px;
}
p{
 font-family: 'Libre Bodoni', serif;
 margin-left:25px;
}
h2{
    color: #9a90c2;
   font-family: 'Bebas Neue', cursive;
   text-align: center;
}

/*QUI SOMMES NOUS*/
.description {
    background-color: whitesmoke;
    border-radius: 30px  ;
    width: 50%;
    margin-left: 2em;
    padding: 1.5em;
    margin-top: 20px;
    margin-bottom: 5em;
}

.img_nous{
    margin-right: 2em;
    margin-left: 5em;
    margin-top: 15px;
    border-radius: 25px;
    background-color: #111;
    overflow: hidden;

}
.img_nous img{
    object-fit: cover;
    width: 100%;
}
#qui_sommes{
    display: flex;
    flex-direction: row;
}

/*CONTACT*/

.form_contact{
    display: flex;
    justify-content: center;
    background-color:whitesmoke;
    height: 30em;
    width: 70%;
    margin-left: 200px;
}
.form_contact form{
    background-color:  #9a90c296;
    border-radius: 20px;
    height: 24em;
    margin-top: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.contact_row{
display: flex;
flex-direction: column;
margin-left: 100px;
margin-top: -55px;
width: 100%;
}
.contact_row input{
    width: 60% !important;
}
.contact_row textarea{
    width: 80% !important;
}


.form_contact form input{
   display: flex;
   justify-content: center;
   padding-top: 10px;
   
}
.form_contact form button{
   margin-top: 1em;
   border-radius: 2vh;
   background-color:black;
   color: #f9f9f9;
   width:80px
}
.repond{
    size: 2em;
    text-align: center;
    margin-top: 10px;
}
.imgP{
    display:flex;
    justify-content: center;

}
/*ON PARLE DE NOUS (Commentaire)*/

.commentaire{
    margin-left: 5.5em;
    color: green;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}
.pseudo{
    margin-left: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

/*BLOG*/

.blog{
    width: 70%;
    margin-left: 200px;
}
.paraBlog{
    border: 1px solid gray;
    border-radius: 2em;
    margin-top: 50px;
    padding: 12px;
}
.paraBlog h2{
    margin-bottom: 15px;
}


/*INSCRIPTION*/
#inscription{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: whitesmoke;
    width: 70%;
    margin:0 auto;
}
.form_inscri{
background-color: #9EC49F;
width: 90%;
margin:15px auto;
border-radius: 20px;
display: flex;
justify-content: center;


}
.rgpd label{
    display: flex;
    justify-content: center;
  margin: 0 auto;
}
.form_inscri input{
    width: 50% !important;
    margin: 0 auto;
}
.form_inscri label{
    display: flex;
   justify-content: center;

}
.form_inscri form li{
    color:red;
    font-size: 12px;
}


#inscription .blackButton{
    background-color: black;
    border-radius: 2vh;
    color: #f9f9f9;
    height: 40px;
    width: 5em;
    margin: 20px 20px;
    
}

/*CONNEXION*/

.connexion{
    background-color: whitesmoke;
    width: 70%;
    border-radius: 20px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    height: 420px;
}
.button a {
    text-decoration: none;
    color: #f9f9f9;
}

.form_conn{
    background-color:#a5be42;
    width: 41%;
   border-radius: 2em;
    margin:2em
}

.button{
    background-color: black;
    color: #f9f9f9;
    border-top-left-radius: 1em;
    width: 150px;
    margin-top: 35px;
    margin-left: 60px;
}

.input{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.input input{
    width: 85% !important;
}
/*CHAUSSURES CRAMPON*/
.i{
    display: flex;
    flex-direction: row;
    padding: 14px;
}
.i a i{
    color: #111;
    margin-left: 12px;
}
.noscrampons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
#noscrampons{
  position: relative;
    width: 360px;
    height: 440px;
   background:#9ec49f57;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2em;
    margin-left: 20px;
}
#noscrampons::before{
    content: '';
position: absolute;
top:-50%;
width: 100%;
height: 100%;
background: #9a90c28c;
transform: skewY(345deg);
transition: 0.5s;
}
#noscrampons:hover::before{
  top:-70%;
 transform: skewY(390deg);
}
#noscrampons::after{
    top:70%;
}
#noscrampons .imgCard{
position:relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
z-index: 1;
}
#noscrampons .imgCard img{
    width:100% ;
    transition: 0.5s;
}
#noscrampons:hover .imgCard img{
max-width: 50%;
}

#noscrampons .contentCard{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.taille,
.color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 20px;
    transition: 0.5s;
}
.taille h4,
.color h4{
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right:10px ;
}
.taille label {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
   background: #fff;
   margin: 0 5px;
   transition: 0.5s;
   color: #111;
   border-radius: 4px;
   cursor: pointer;
}
.taille label:hover{
    background: #9bdc28;
}

.taille input{
    display: none;
}
.boutton_panier{
    background: none;
    border: none;
   
}
.regular_radio:checked + label {
 background: #9bdc28;
 color:white;

}

/* REINITIALISATION MP*/
.login{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.login p{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.decoMP img {
width: 100%;
}
.mpCenter{
    display: flex;
    justify-content: center;
}

.mpCenter input{
    width: 100% !important;
}

/*CRAMPON PERSO*/
.h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    background-color: #9bdc28;
    width: 50%;
    margin:0 auto;
    text-align: center;
    border-radius: 1em;
}
.infoSemelle{
    border: 0.5px solid yellow;
    background-color: rgba(255, 255, 0, 0.343);
    width: 30%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.infoSemelle ul li {
    margin-top: 8px;
    font-family:'Oswald', sans-serif; ;
}
#div{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.cuir{
    margin-left: 100px;
    margin-top:25px;
}
.cuir h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:underline;
}
#infoMatiere{
    display: flex;
    flex-direction: row;
}
.synthetique{
    margin-right: 200px;
    margin-top:25px;
}
.synthetique h3{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:underline;
}

/*ACCESSOIRES*/
.carte{
    position: relative;
    width: 320px;
    height: 420px;
   background:#9ec49f57;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2em;
}

.carte::before{
content: ' ';
position: absolute;
top:-50%;
width: 100%;
height: 100%;
background: #9a90c28c;
transform: skewY(345deg);
transition: 0.5s;
}

.carte:hover::before{
    top:-70%;
    transform: skewY(390deg);

}
.carte::after{
top:-70;

}
.carte .imgCard{
position:relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
z-index: 1;
}

.carte .imgCard img{
    width:100% ;
    transition: 0.5s;
}

.carte:hover .imgCard img{
max-width: 50%;

}
.carte .contentCard{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.carte .contentCard h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.prix{

    font-size: 24px;
    font-weight: 500;
     letter-spacing: 1px;
}

.carte .contentCard .panier{
    position:relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: black;
    transition: 0.5s;
}
.carte:hover .contentCard .panier{
    top:0;
    opacity: 1;
}

.accessoires {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
justify-content: space-around;
margin: 20px 20px 15px 15px; 
}
/*ACCESSOIRES SHOW*/
#show{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 35px;
    padding:2em;
}
.info{
    width: 50%;
    margin:2em;
    
}
.info .panier{
    color: black;
    margin-left: 45px;
}
.info .panier:hover{
   color: green;
}

.info p{
margin-top: 30px;
margin-bottom: 40px;
}
.blackButton{
     background-color: black;
    border-radius: 2vh;
    color: #f9f9f9;
    height: 40px;
    width: 5em;
    
}
/*PANIER*/

.recap{
    display: flex;
    flex-direction: column;
    margin: 2em;
}
#lepanier{
    display: flex;
    flex-direction: row;
}
.r{
    display: flex;
    flex-direction: column;
     width: 50%;
     padding: 2em;
}
.prix{
    display: flex;
    flex-direction: row;
}
 .ficheP{
   background-color: whitesmoke;
    width: 60%;
    margin-left: 100px;
    padding: 1em 1em;
    border-radius: 20px;
    margin-top: 1em;
 }

 .nbrPanier{
    color: orangered;
    font-weight: bold;
 }

.panierP{
    margin-left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1em;
}



/*FOOTER*/
.footer{
background-color:black;
display: flex;
flex-direction: row;
justify-content: space-around;
height: 80px;
margin-top: 18px;
width:100%;
}

.footer a{
    color:whitesmoke;
    text-decoration: none;
}
.reseaux{
    width:30%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.politiques{
    text-align: center;
    width: 70%;
    margin:0 auto;
}
.politiques h5{
    color:#9285c4 ;
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
}
.politiques p{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.politiques ul li{
     font-size: 18px;
}
.poliques ul{
    font-size: 22px;
}
.cookie{
    font-weight: bold;

}
.cgv{
    text-align: center;
}
.mentions{
     white-space: pre-line;
    font-size: 22px; 
    text-align: center;
}
.cgv p{
    white-space: pre-line;
    font-size: 18px;
}
.cgv h5{
    color: #9285c4;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.cookie-popup {
    transition: 0.3s;
    z-index: -999;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: auto;
}

#bandeau_cookie{
    z-index: 1999;
    pointer-events: auto;
    opacity: 1;
    max-width: 100vw;
    margin: auto;
    background: #333;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    padding: 10px;
   text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    height: auto;
}

.cookie_spacer{
    margin-bottom: 5px;
}
.container_cookie-btn{
    display: inline-block;
    margin: auto;
    position: relative;
    float: none !important;
    box-sizing: border-box;
}
.cookie_text{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.btn-advanced{
    display: inline-block;
    width: auto;
    padding: 3px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.4px;
}

.btn-advanced:nth-child(1) {
    background: #32cd32;
    color: #fff;
    border: 1px solid #32cd32;
  }
  .btn-advanced:nth-child(3) {
    background: #828282;
    color: #333;
    border: 1px solid #828282;
    margin-left: 5px;
  }
  #personnalize_my_cookie {    
    margin-left: 5px !important;
  }


.cookie_deactivate{
    display: none;
}


  .format_div_rgpd{
      padding : 2em;
  }

  .format_div_rgpd h2, .format_div_rgpd h3{
      font-size: 14px;
  }

  .format_div_rgpd h1{
    font-size: 18px;
    margin-bottom: 10px;
}


.gestion_cookie-div{
    margin : 20px auto;
    text-align: right;
}



.gestion_cookie-div-text{
    
    padding: 1em;
}

.separator_section{
    border-bottom: 1px solid black;
    width: 20em;
    margin: auto;
}

.gestion_cookie-div-text p {
    text-align: justify;
}
.gestion_cookie-div-text h2 {
    text-align: center;
}


.btn_cookie{
    padding: 10px;
width: 35%;
border: 0;
border-radius: 5px;
color : white;
}


.accept:hover{
    background: #4596ec !important;
}

.refuse:hover{
    background: #e52e2f !important;
}

.deny{
background: #5a5e6b !important;
color : white;
}

.refuseAnswer{
    background: #e52e2f ;
    
}

.acceptAnwser{
    background: #4596ec;
}

.bouton_gestion_cookies:hover{
    cursor: pointer;
    text-decoration: underline !important;
}

/*ADMIN AND USER
/*ADMIN FORMULAIRE PRODUITS ET ACCEUIL*/


.photoAcceuil{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.photoAcceuil img{
    width:30%;
}
.form_produits{
    display: flex;
   flex-direction: row;
    background-color: #9a90c2;
    width: 40%;
    height: 710px;
   padding-top: 30px;
   margin-left: 3em;
   padding-left: 2em;
   margin-bottom: 10px;
   margin-top: 5em;
 
}
.form_produits input{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
}


.coments{
padding: 20px;
margin: 20px;
}

.coments input{
margin: 15px;
}
.form_produits label{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.img_form{
    margin-left: 400px;
    margin-right: 20px;
    margin-top: 60px;
    
}
/*ADMIN NAVBARRE*/
.navAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.309);
    margin-bottom: 10px;
}
.navAdmin img{
    margin-bottom: 10px;
}
.navAdmin li a {
    text-decoration: none;
    color: #111;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navAdmin li a:hover{
    background-color:#2045af ;
    color: white;
}
.navAdmin li{ 
    margin-top: 100px;
    margin-left: -45px;

}
.adminMain{
    min-height: 500px;
}
.acceuil{
text-align: center;
}
.acceuilP{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
}

/*ADMIN FORMULAIRE UTILISATEURS*/
.form_user_edit {
    display: flex;
    justify-content: center;
    
}
.form_user_edit label{
    display:flex;
    flex-direction: column;
}

#form_user_edit{
    width: 50%;
    background-color: #9EC49F;
    margin:20px;
}
.img_utilisateur{
    display: flex;
    justify-content: flex-end;
    margin-top: -380px;
}

/*USER MON COMPTE*/
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: grey;

}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.deleteAccount{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 15%;
    background-color: red;
    color:white;
    margin-left: 130px;
    text-decoration: none;
    margin-top: 35px;
}
.form-control{
    width: 25% !important;
}
.deleteAccount:hover{
    color: black;
}
/*MES COMMANDES USERS*/
.toggle{
    display:none;
}

 .container-fluid {
            margin-top: 200px ;
        }

        p {
            font-size: 14px;
            margin-bottom: 7px;

        }

        .small {
            letter-spacing: 0.5px !important;
        }

        .card-1 {
            box-shadow: 2px 2px 10px 0px rgb(190, 108, 170);
        }

        hr {
            background-color: rgba(248, 248, 248, 0.667);
        }


        .bold {
            font-weight: 500;
        }

        .change-color {
            color: #AB47BC !important;
        }

        .card-2 {
            box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);

        }

        .fa-circle.active {
            font-size: 8px;
            color: #AB47BC;
        }

        .fa-circle {
            font-size: 8px;
            color: #aaa;
        }

        .rounded {
            border-radius: 2.25rem !important;
        }


        .progress-bar {
            background-color: #AB47BC !important;
        }

        .progress {
            height: 5px !important;
            margin-bottom: 0;
        }

        .invoice {
            position: relative;
            top: -70px;
        }

        .Glasses {
            position: relative;
            top: -12px !important;
        }

        .card-footer {
            background-color: #AB47BC;
            color: #fff;
        }

        h2 {
            color: rgb(78, 0, 92);
            letter-spacing: 2px !important;
        }

        .display-3 {
            font-weight: 500 !important;
        }

        @media (max-width: 479px) {
            .invoice {
                position: relative;
                top: 7px;
            }

            .border-line {
                border-right: 0px solid rgb(226, 206, 226) !important;
            }

        }

        @media (max-width: 700px) {

            h2 {
                color: rgb(78, 0, 92);
                font-size: 17px;
            }

            .display-3 {
                font-size: 28px;
                font-weight: 500 !important;
            }
        }

        .card-footer small {
            letter-spacing: 7px !important;
            font-size: 12px;
        }

        .border-line {
            border-right: 1px solid rgb(226, 206, 226)
        }





/*RESPONSIVE */
/*MEDIA QUERY*/
 @media (max-width: 1155px){
#lepanier{
    display:flex;
    flex-direction:column;
    align-items: CENTER;

}


 }

 @media (max-width: 1024px) {
.crampon1{
    display: none;
}
.crampon2{
    display: block;
}
} 

.r{
    display:flex;
    justify-content:center;
}


@media all and (max-width:790px){
.form_contact{
   margin:auto;
}
.contact_row{
    width: 100%;
}

.contact_row textarea{
    width: 85% !important;
}
#navigation img{
    width: 75%;
}
.h4{
    text-align: center;
    margin:65px;
    display: flex;
    justify-content: center;
}
#inscription{
    width: 80%;
    margin-left:10px;
}
/* .form_inscri{
display: flex;
flex-direction: column;
}
.form_inscri input{
width: 50%;
margin: 0;
} */

}
@media all and (max-width:997px){
.toggle{
     display:block;
     font-size:2em;
     cursor:pointer;
     position:relative!important;
     z-index:20!important;

}  

#navigation img{
    position:relative;
    z-index:20;
}
.ouvrir{
    display: block;
}
.ficheP{
    width:100%;
}

.close{
    display:none!important;
     margin-left: 80px;
     position:relative !important;
     z-index:9999 !important;
}
.nbrQuantite{
    color:white;
}
.open .ouvrir{
    display:none;
    z-index:9999 !important;
    position:absolute !important;
}
.open .close{
    display: block !important;
    position:relative !important;
    margin-left: 80px;
}
.login input{
    width:100% !important;
}
.navi{
    position:absolute;
    top:0;
    left:0;
    height:80%;
    width:283px;
    flex-direction:column;
    padding:20px;
    background:rgb(0, 0, 0);
    justify-content: space-around;
    z-index:20;
    transform: translateX(-100%);
    transition: transform 1s;
}
.navi li a{
    color: white!important;
    font-size: 22px!important;
    margin-left:10px;


}
.blog{
    margin:0;
}

.paraBlog{

    margin-left:100px;
}
.form_conn{
    width:100%;
    margin-left:0;
}
.connexion{
    margin-left:80px;
}

.open .navi{
    transform:translateX(0);
}
#qui_sommes{
    display: flex;
    flex-direction: column;
}
.description{
    width: 90%;
}

#show{
    display: flex;
    flex-direction: column;
}

#infoMatiere{
    display: flex;
    flex-direction: column;
}
.synthetique{
    margin-left:50px;

}



  }  


@media all and (max-width:561px){
#show{
    width: 100%;
}
.info p{
    width: 100%;
}
.card-body input{
    width: 100% !important;
}
.small input{
    width: 100% !important;
}
.deleteAccount{
    width:80%;
    margin-left:20px;
}
.mb-3 input{
    width: 80% !important;
}


.blog{
    width: auto;
}
.paraBlog{
    margin:0 auto;
    width: 90%;
    margin-top: 10px;

}
.point {
    display:none;
}

.taille h4{
    display:none;
}

.info p{
    font-size: 18px;
    font-weight: bold;
}

.ficheP{
    width:100%;
}
#inscription{
    width: 100%;
    margin: 0 auto;
}
.form_inscri{
    width: 100%;

}

}
@media all and (max-width:375px){
.carte{
  width: 80%;
}

.infoSemelle{
    width: 80%;
}

.synthetique{
width:50%;
}

.form_conn{
    height:300px;
    width: 100%;
    
}
.mpOubli{
    font-size: 13px;
}
.ficheP{
    margin-left:0;
    display:flex;
    flex-direction: column;
}
.prix{
    display: flex;
    flex-direction: column;
}
.r{
    width:100%;

}
.blog{
    width: auto;
}
.paraBlog{
    margin:0 auto;
    width: 90%;
    margin-top: 10px;

}

}
