{% extends 'adminBase.html.twig' %}


{% block title %} Utilisateurs{% endblock %}

{% block body %}
    <h1>Enregistement d'un nouveau Utilisateur</h1>

    {{ include('admin_utilisateurs/_form.html.twig') }}

    <a style="margin-left:100px" href="{{ path('app_admin_utilisateurs_index') }}" class="btn btn-dark">Retour à liste</a>
{% endblock %}
