{% extends 'base.html.twig' %}

{% block title %}
	Payement
{% endblock %}

{% block body %}

	<h1>Paiement effectué</h1>

	<p style="text-align:center;">Merci pour votre confiance</p>

    
{% endblock %}