{% extends 'base.html.twig' %}

{% block title %}paiement{% endblock %}

{% block body %}

	<h1>Paiement effectué</h1>

	<h4 style="text-align:center;">Merci pour votre confiance</h4>

    
{% endblock %}