{% extends 'adminBase.html.twig' %}

{% block title %}Admin{% endblock %}
{% block body %}
<h1>Acceuil</h1>
<div class="acceuil">
<h3>Bienvenue Mr/Mme {{app.user.nom}}</h3>
<p class="acceuilP">Voici l'interface Adminnistrateur Chak crampon (ACC) qui vous permet d'ajouter, modifier, voir et supprimer 
des Produits présent sur le site chakcrampon.com ACC vous permet également de faire 


</div>
{% endblock %}