{% extends 'adminBase.html.twig' %}

{% block title %}Admin{% endblock %}
{% block body %}
<h1>Acceuil</h1>
<div class="acceuil">
<h3>Bienvenue Mr/Mme {{app.user.nom}}</h3>
<p class="acceuilP">Voici l'interface Administrateur Chak crampon (ACC) qui vous permet d'ajouter, modifier, voir et supprimer 
	des Produits (lien : Produits dans la barre de navigation) présent sur le site chakcrampon.com ACC également pour les commentaires. 
	Concernant les autres liens de la barre de navigation sont des informations stockées en base de données telles que la liste des utilisateurs  Chak crampon,
	la liste des commandes effectuées, etc. certaines actions vous seront proposées. 
    A vous de jouez !</p>
<div class="photoAcceuil">
<img src="{{asset('assets/upload/Withchampion-6292a352a29fe.png')}}">
<img src="{{asset('assets/upload/RedSalsa-6292a91955026.png')}}">
<img src="{{asset('assets/upload/BlueMagic-6290f5ced896a.png')}}">

</div>
{% endblock %}