{% extends 'base.html.twig' %}
{% block description %}Retrouvez toutes les actualités pour peronnaliser vos chaussures de foot, les dernieres tendances et conseils pour les crampons de football {% endblock %}

{% block title %}Blog{% endblock %}

{% block body %}
<h1>L’art de personnaliser la chaussure de foot</h1>
<section class="blog">
<div class="paraBlog">
	<h2>Pourquoi personnaliser sa chaussure de foot ?</h2>
	<p>Aujourd’hui, le marché est inondé par les grandes marques comme Nike ou encore Adidas qui
				commercialisent des modèles de chaussures de football toujours plus performantes : semelles
				respirantes, enveloppe anti-choc ou encore matière technique.
				Il existe des variantes de crampons de football pour tous les types de footballeurs : les footballeurs
				débutants, accomplis ou professionnels.</p>
	<p>Mais du coup, nous nous retrouvons tous avec les mêmes modèles de chaussures de foot.
				Quel que soit le terrain : terrain de football synthétique ou pelouse, nous croiserons forcément un
				footballeurs avec la même paire de chaussure, et c’est un peu rageant n’est-ce pas ?
				Personnaliser ou plutôt customiser sa chaussure de foot permet de se démarquer de ses amis ( ou
				adversaires) footballeurs !</p>
	<p>Offrir une chaussure de football personnalisée est aussi un bon moyen de montrer à notre
				footballeur préféré qu’on le connait par cœur !
				Surtout, customiser la paire de crampons permet d’avoir une chaussure complètement adapté à son
				pied et à l’utilisation que l’on en fait ! Les possibilités sont nombreuses pour que la chaussure puisse
				correspondre à vos moindres besoins et envies !</p>
</div>
<div class="paraBlog">
	<h2>Quelle personnalisation de crampons de foot choisir ?</h2>
	<p>La personnalisation des chaussures de foot peut être uniquement esthétique ou plutôt technique.
				La customisation esthétique permet d’ajouter le prénom du joueur, le drapeau de son équipe de foot
				préféré par exemple. Il s’agit d’un ajout sur la chaussure.
				Nous pouvons également customiser les lacets, leur forme et couleur, certaines parties en cuir ou
				synthétique.                                                                                
				La customisation des crampons de football peut aller plus loin, comme expliqué ci-dessus afin de
				correspondre à vos besoins.</p>
	<p>Nous pouvons ainsi personnaliser les éléments-mêmes qui constituent la chaussure : modifier la tige,
				choisir le revêtement, les types de lacets, la semelle.
				En fonction de votre jeu et du terrain sur lequel vous évoluez, tous les crampons ne se valent pas.
				Si vous êtes un footballeur débutant, il faudra privilégier un bon maintient mais garder une bonne
				amplitude. Si en revanche vous évoluez de manière pro ou semi-pro, nous vous conseillerons
				d’autres types de personnalisation.
				Si vous évoluez en foot en salle, sur un terrain synthétique, vous pourrez privilégier des chaussures
				légères et des crampons adaptés. Si vous jouez en gazon naturel, les crampons ne seront pas les
				mêmes.</p>
</div>
<div class="paraBlog">
	<h2>Quelle type de chaussure de foot puis-je personnaliser ?</h2>
	<p>La personnalisation des crampons de football se fait sur tous les modèles proposés sur notre site. En
				fonction de vos demandes, nous seront également amené à élargir notre stock et vous proposer des
				modèles de chaussures toujours plus adaptés.
				Nous travaillons tous les types de crampons :
				chaussure basse ou avec tige, pour tous types de terrain de football, crampons vissés ou intégrés,
				n’hésitez pas à faire un tour sur notre boutique en ligne pour découvrir nos modèles !</p>
</div>

</section>
{% endblock %}

