<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmez votre email : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expira dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci.
</p>
