{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1>Merci Mme/Mr {{data.nom}}</h1>
<p>Votre email a bien étais envoyer avec les informations suivantes:</p>
<p>Votre email {{data.email}} , votre numéro {{data.numero}} et votre message : 
{{data.message}}</p>

{% endblock %}