{% extends 'base.html.twig' %}

{% block title %} Contact{% endblock %}

{% block body %}

<h1>Contactez nous</h1>
<section class="form_contact">
{{form(form)}}
</section>
<p class="repond">Notre équipe répond dans les 24h</p>

{% endblock %}
