{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
<h1>Modification du mot de passe</h1>
<div class="container-xl px-4 mt-4">
{% include 'navUser.html.twig' %}
	<hr class="mt-0 mb-4">
   <form method="POST">
            <div class="mb-3">
            {% for message in app.flashes('error')%}
                    <div class="alert alert-danger" role="alert">{{message}} </div>
            {% endfor %}
            {% for message in app.flashes('message')%}
                <div class="alert alert-success" role="alert">{{message}} </div>
            {% endfor %}
                <label class="small mb-1" for="pass">Mot de passe</label>
                <input class="form-control" id="pass" type="password" name="pass" required minlength="8">
            </div>
            <div class="mb-3">
            <label class="small mb-1" for="pass">Confimer le mot de passe</label>
            <input class="form-control" id="pass" type="password" name="pass2" required minlength="8"maxlength="15">
            </div>
            <button class="blackButton" >Valider</button>
</form>
</div>
{% endblock %}