</main>
<footer>
    <div class="footer">
        <p style="margin-top:27px;"><a href="{{path('app_cgv')}}"> CGV </a></p>
<p style="margin-top:27px;">
	<a href="{{ path('app_politiques') }}"> Politiques de confidentialité</a></p>
  <p style="margin-top:27px;"><a href="{{path('app_mentions_legal')}}"> Mentions légales </a></p>
        <ul  class="reseaux">
            <li><a class="facebook-icon" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter-icon" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram-icon" href="#"><i class="fa fa-instagram"></i></a></li> 
        </ul>
    </div>
</footer>
