{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %} QuiSommesNous{% endblock %}

{% block body %}
    <h1>Qui sommes-nous ?</h1>
<article id="qui_sommes">
    <section class="description">
                  <p>Chak Crampon est une jeune entreprise spécialisée dans la chaussure de football.</p>

                  <p> Depuis plus d’un an, nous nous efforçons de proposer aux jeunes sportifs comme aux sportifs plus aguerris des chaussures
                 de football de qualité supérieure et personnalisables.</p>
                  <p>Son Directeur, Chakir AKHARUID, est passionné de foot depuis sa plus tendre enfance : depuis l’âge de 10 ans, il
                 pratique le football en club pour le plaisir de jouer mais aussi pour l’envie de gagner.</p>

                    <p>Montée jusqu’en division DHR, les crampons de foot n’ont plus de secret pour lui et surtout, il a dû faire face à des
                     problématiques marché. Il a donc décidé, face à la pénurie de crampons hors marques, de se lancer dans la recherche
                      auprès de partenaires fiables. Il fait ainsi appel à des fabricants de tissus techniques, développés pour les crampons
                      de foot, de semelles ou encore de types de crampons.</p>

                <p> Il est conscient que l’offre de crampons de football actuelle n’est plus à la hauteur des attentes des nouveaux joueurs.
                 C’est pourquoi il a décidé de créer des chaussures de foot qui s’adaptent à vos besoins, vos envies ou votre style de
                    jeu.</p>
                <p>Notre petit plus ? 
                Vous proposer, en plus des chaussures de foot parfaites pour vos pieds et votre jeu, une personnalisation en incluant le drapeau de l’équipe que vous affectionnez ou encore le prénom de votre frère, footballeur amateur.
                Que vous soyez jeune footballeur ou évoluant en club en semi-pro, les crampons de foot de Chak Crampon seront adaptés à tous vos besoins : crampons pour pieds larges ou fins, crampons terrain 
                synthétique ou crampons terrain extérieur, crampons renforcés ou souples.</p>
                <p>La volonté de Chak Crampon est d’apporter une solution à chaque problématique en matière 
                de chaussures de foot. </p>

               <p>Notre gamme évolue au fil de vos retours et besoins, venez vite découvrir nos modèles phares et les personnaliser à vos envies, chez Chak Crampon, tout est possible !</p>
     </section>
<figure class="img_nous"><img src="{{asset("assets/img/chakir.jpg")}}" alt="photo de moi"></figure>
 </article>
{% endblock %}
